ul{
	font-family: sans-serif;
	color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	background: #b18979;
	padding: 1rem;
	margin-bottom: 2px;
}
li:first-child {border-radius: 7px 7px 0 0;}
li:last-child {border-radius: 0 0 7px 7px;}